# backups (eg. glade)
*~
*.pyc
autom4te.cache/
m4/
config.*
Makefile
Makefile.in
aclocal.m4
configure
depcomp
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
ltmain.sh
messages
missing
mkinstalldirs
py-compile
stamp-h1
autom4te.cache
m4
gnome-doc-utils.make
hamster-time-tracker-*.tar.gz
.lock-wscript
.lock-waf*
build
*.deb
.project
.pydevproject
venv/
.idea/
*.iml