*.pyc
*.page
autom4te.cache/
m4/
config.*
Makefile
Makefile.in
aclocal.m4
configure
depcomp
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
ltmain.sh
missing
mkinstalldirs
py-compile
stamp-h1
autom4te.cache
m4
gnome-doc-utils.make
hamster-time-tracker-*.tar.gz
org.gnome.hamster.service
.lock-wscript
build
.coverage
.project
.pydevproject
.settings/
