Source: hamster-applet
Section: gnome
Priority: extra
Maintainer: Toms <toms.baugis@gmail.com>
Build-Depends: cdbs (>= 0.4.43), debhelper (>= 5.0.38), autotools-dev, pkg-config (>= 0.9.0), python-gtk2-dev (>= 2.8.6-1), python-glade2 (>= 2.8.6-1), python-gnome2-dev (>= 2.12.4-1), python-gnome2-desktop-dev, intltool (>= 0.33), python-dev (>= 2.4), libgtk2.0-dev (>= 2.6), libgnome-desktop-dev, python-central (>= 0.5.6), python-pysqlite2 (>= 2.3),  x11proto-scrnsaver-dev, libxss-dev, gnome-common
Standards-Version: 3.7.2

Package: hamster-applet
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, python-gtk2 (>= 2.8.6-1), python-glade2 (>= 2.8.6-1), python-gnome2 (>= 2.12.4-1), python-gnome2-desktop, python-pysqlite2 (>= 2.3) 
Provides: ${python:Provides}
Description: Time tracking applet for GNOME desktop
 Project Hamster is time tracking for masses. It helps you to keep track on how much time you have spent during the day on activities you have set up. Check http://projecthamster.wordpress.com/ for more information
