#! /usr/bin/make -f
# -*- makefile -*-

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/gnome.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk

# The --datadir option is required. If it is not manually set, the file
# deskbar/defs.py contains the line
#   DATADIR = "${prefix}/share"
# which obviously won't work in Python code. See also bug #378080.
DEB_CONFIGURE_EXTRA_FLAGS := --datadir=/usr/share

# New python policy
#binary-install/deskbar-applet::
#	dh_pycentral -pdeskbar-applet handlers /usr/lib/deskbar-applet/handlers
